*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ========================= */
/* BODY */
/* ========================= */

body{

    background:#230364dc;

    overflow:hidden;

    font-family:'Press Start 2P', cursive;
}

/* ========================= */
/* TOP NAVBAR */
/* ========================= */

.top-bar{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    display:flex;

    justify-content:space-between;
    align-items:center;

    padding:25px 40px;

    background:rgba(15,0,35,0.78);

    backdrop-filter:blur(8px);

    border-bottom:
        1px solid rgba(247, 219, 219, 0.884);

    z-index:9999;
}



.logo{

    color:#39ff14;

    font-size:28px;

    cursor:pointer;

    user-select:none;

    transition:0.25s;

    text-shadow:
        3px 3px #094f94,
        0 0 10px white;
}

.logo:hover{

    transform:scale(1.08);
}

/* ========================= */
/* NAV LINKS */
/* ========================= */

.nav-links{

    display:flex;

    align-items:center;

    gap:45px;
}

.nav-links a{

    display:flex;

    align-items:center;

    gap:10px;

    text-decoration:none;

    color:white;

    font-size:12px;

    transition:0.25s;
}

.nav-links a:hover{

    color:#39ff14;

    transform:translateY(-2px);
}

/* GITHUB ICON */

.nav-links img{

    width:18px;
    height:18px;

    filter:invert(1);
}

/* ========================= */
/* LOADER SCREEN */
/* ========================= */

#loader-screen{

    position:fixed;

    width:100%;
    height:100vh;

    background:black;

    display:flex;

    justify-content:center;
    align-items:center;

    z-index:99999;

    transition:0.5s;
}

.loader-box{

    text-align:center;
}

.loading-text{

    color:rgb(5, 186, 199);

    margin-bottom:25px;

    font-size:14px;
}

/* LOADING BAR */

.loading-bar-container{

    width:320px;
    height:35px;

    border:4px solid rgb(43, 240, 4);

    padding:4px;

    background:#111;
}

.loading-bar{

    width:0%;
    height:100%;

    background:yellow;

    animation:loadbar 2.2s linear forwards;
}

/* ANIMATION */

@keyframes loadbar{

    from{
        width:0%;
    }

    to{
        width:100%;
    }
}

/* ========================= */
/* MAIN CONTENT */
/* ========================= */

#main-content{

    width:100%;
    height:100vh;

    position:relative;
}

/* FLEX LAYOUT */

#page-content{

    width:100%;
    height:100vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 90px;

    transition:0.4s;
}

/* ========================= */
/* PAGE BLUR */
/* ========================= */

.page-blur{

    filter:blur(8px);

    pointer-events:none;
}



.hero-text{

    position:relative;

    width:700px;

    padding:55px;

    background:rgba(0,0,0,0.35);

    border-radius:16px;

    backdrop-filter:blur(5px);

    box-shadow:
        0 0 25px rgba(0,0,0,0.45);

    overflow:hidden;

    transition:0.3s;
}

.hero-text:hover{

    transform:
        translateY(-6px)
        scale(1.02);
}

/* SMALL TITLE */

.hero-text h3{

    color:#39ff14;

    font-size:20px;

    margin-bottom:35px;

    line-height:1.6;

    text-shadow:
        3px 3px #094f94,
        0 0 8px rgb(190, 183, 183);
}

/* BIG TITLE */

.hero-text h1{

    color:#39ff14;

    font-size:64px;

    line-height:1.4;

    text-shadow:
        4px 4px #094f94,
        0 0 12px rgb(190, 183, 183);
}

/* ========================= */
/* CURSOR GLOW */
/* ========================= */

.cursor-glow{

    position:absolute;

    width:140px;
    height:140px;

    background:rgba(118, 136, 241, 0.22);

    border-radius:50%;

    pointer-events:none;

    transform:translate(-50%, -50%);

    filter:blur(20px);

    opacity:0;

    transition:
        opacity 0.2s,
        left 0.03s,
        top 0.03s;
}

/* ========================= */
/* RIGHT ACTION PANEL */
/* ========================= */

.action-panel{

    display:flex;

    flex-direction:column;

    align-items:flex-start;

    max-width:700px;
}

/* TAGLINE */

.action-panel h2{

    color:yellow;

    font-size:22px;

    line-height:1.8;

    margin-bottom:45px;

    text-shadow:
        3px 3px rgba(0,0,0,0.5),
        0 0 8px rgba(255,255,0,0.5);
}

/* BUTTON ROW */

.action-buttons{

    display:flex;

    gap:25px;

    flex-wrap:wrap;
}

/* BUTTONS */

.action-box{

    padding:28px 30px;

    background:rgba(0,0,0,0.35);

    border-radius:12px;

    backdrop-filter:blur(5px);

    box-shadow:
        0 0 18px rgba(0,0,0,0.45);

    cursor:pointer;

    transition:0.25s;

    font-size:13px;

    user-select:none;
}

.action-box:hover{

    transform:
        translateY(-5px)
        scale(1.04);

    box-shadow:
        0 0 28px rgba(0,0,0,0.65);
}

/* COLORS */

.build-box{

    color:yellow;

    text-shadow:
        0 0 8px rgba(255,255,0,0.45);
}

.boot-box{

    color:#39ff14;

    text-shadow:
        0 0 8px rgba(57,255,20,0.45);
}

.explore-box{

    color:white;

    text-shadow:
        0 0 8px rgba(255,255,255,0.25);
}

/* ========================= */
/* ABOUT PANEL */
/* ========================= */

.about-panel{

    position:fixed;

    top:50%;
    right:90px;

    transform:
        translateY(-50%)
        translateX(100px);

    width:42%;

    min-height:420px;

    background:rgba(0,0,0,0.38);

    backdrop-filter:blur(10px);

    border-radius:16px;

    box-shadow:
        0 0 35px rgba(0,0,0,0.55);

    padding:35px;

    opacity:0;

    visibility:hidden;

    transition:0.35s;

    z-index:5000;
}

/* ACTIVE ABOUT */

.about-panel.active{

    opacity:1;

    visibility:visible;

    transform:
        translateY(-50%)
        translateX(0);
}

/* ABOUT HEADER */

.about-header{

    display:flex;

    align-items:center;

    gap:30px;

    margin-bottom:45px;
}

/* CLOSE BUTTON */

.about-close{

    color:#39ff14;

    font-size:26px;

    cursor:pointer;

    transition:0.25s;

    text-shadow:
        3px 3px #4da6ff,
        0 0 10px white;
}

.about-close:hover{

    transform:scale(1.08);
}

/* HEADER TITLE */

.about-header h2{

    color:white;

    font-size:22px;
}

/* ABOUT CONTENT */

.about-content{

    display:flex;

    flex-direction:column;

    gap:35px;
}

.about-content p{

    color:#d8d8d8;

    font-size:13px;

    line-height:2.2;
}

/* LINKS */

/* ========================= */
/* CONTACT DROPDOWN */
/* ========================= */

.contact-dropdown{

    position:relative;

    display:flex;

    align-items:center;
}
/* HOVER BRIDGE */

.contact-dropdown::after{

    content:"";

    position:absolute;

    top:100%;
    left:0;

    width:100%;
    height:18px;
}

/* BUTTON */

.contact-btn{

    background:none;

    border:none;

    outline:none;

    color:white;

    font-family:'Press Start 2P', cursive;

    font-size:12px;

    cursor:pointer;

    transition:0.25s;

    padding:0;
}

.contact-btn:hover{

    color:#39ff14;

    transform:translateY(-2px);
}

/* MENU */

.dropdown-menu{

    position:absolute;

    top:38px;
    right:0;

    width:260px;

    background:rgba(10,10,10,0.92);

    backdrop-filter:blur(8px);

    border-radius:14px;

    padding:18px;

    display:flex;

    flex-direction:column;

    gap:18px;

    opacity:0;

    visibility:hidden;

    transform:translateY(12px);

    transition:0.35s;

    box-shadow:
        0 0 22px rgba(0,0,0,0.55);

    z-index:999999;
}

/* SHOW */

.contact-dropdown:hover .dropdown-menu{

    opacity:1;

    visibility:visible;

    transform:translateY(0);
}

/* LINKS */

.dropdown-menu a{

    display:flex;

    align-items:center;

    gap:14px;

    text-decoration:none;

    color:white;

    font-size:11px;

    transition:0.35s;
}

/* ICONS */

.dropdown-menu img{

    width:20px;
    height:20px;

    object-fit:contain;
}

/* HOVER */

.dropdown-menu a:hover{

    color:#39ff14;

    transform:translateX(5px);
}
